*{
    padding: 0;
    margin : 0;
    font-family : sans-serif;
}

.container{
    width: 40%;
    height: 100%;
    margin: 0 auto;
}

header{
    height : 140px;
    display: flex;
    align-items : center;
    justify-content: center;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
    color : #222;
}
header .container h2{
    font-size: 32px;
    margin-bottom: 8px;
}
header .container span{
    font-size: 12px;
    opacity: .6;
}

main{
    margin-top: 30px;
}
.box__image{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: baseline;
}
.box__image .box__image-list{
    width: 100%;
    height: 240px;
    cursor: pointer;
    transition: all ease .4s;
}

.box__image .box__image-list img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:8px;
    transition : all ease-in .2s;
}

.indicator__image{
    margin-top: 40px;
    display : flex;
    align-items : center;
    justify-content: space-between;
}

.indicator__image .indicator__list{
    display: flex;
    align-items : center;
}
.indicator__image .indicator__list a, button{
    margin : 0 6px;
    font-weight: 400;
    text-decoration: none;
    padding: 6px 10px;
    color: #179b68;
    background-color : #38d19620;
}
.indicator__image button{
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border: none;
}

.indicator__image .indicator__list a.active{
    font-weight: 700;
    padding: 8px 14px;
    color: #fff;
    background-color : #38d196;
}